<h1>Welcome to CSE Motors!</h1>
<%- messages() %> <!-- Flash messages displayed here -->

<div class="hero-container">
    <img src="../images/vehicles/delorean.jpg" alt="car" class="hero-car">
    <div class="hero-description">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <img src="../images/site/own_today.png" alt="own today" class="hero-button">
    </div>
</div>

<div class="info-container">
    <div class="reviews-card">
        <h2>DMC Delorean Reviews</h2>       
        <ul>
            <li>"So fast it's almost like travelling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
        <p>
            <a href="/feedback" class="hero-button">Leave Feedback</a>
        
            <a href="/feedback/view" class="hero-button">View All Feedback</a>
        </p>
    </div>


    

    <div class="upgrades-card">
        <h2>Delorean Upgrades</h2>
        <div class="upgrades-images">
            <div>
                <div class="img-box">
                    <img src="../images/upgrades/flux-cap.png" alt="Flux Capacitor">
                </div>
                <div class="link-box">
                    <a href="/">
                        <span>Flux Capacitor</span>
                    </a>
                </div>
            </div>

            <div>
                <div class="img-box">
                    <img src="../images/upgrades/flame.jpg" alt="Flame Decals">
                </div>
                <div class="link-box">
                    <a href="/">
                        <span>Flame Decals</span>
                    </a>
                </div>
            </div>

            <div>
                <div class="img-box">
                    <img src="../images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                </div>
                <div class="link-box">
                    <a href="/">
                        <span>Bumper Stickers</span>
                    </a>
                </div>
            </div>

            <div>
                <div class="img-box">
                    <img src="../images/upgrades/hub-cap.jpg" alt="Hub Caps">
                </div>
                <div class="link-box">
                    <a href="/">
                        <span>Hub Caps</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
