/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: var(--font2);
  font-weight: 400;
  background-image: url('../images/site/checkerboard.jpg');
}

.font-1 {
  font-family: var(--font1);
}

.font-2 {
  font-family: var(--font2);
}

#wrapper {
  background-color: white;
  margin: 15px 30px;
  padding: 15px;
  border:5px solid var(--colorBlue);
  border-radius: 20px;
}
/* -----header styles----- */
#top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.siteName {
  font-size: 1.5rem;
  font-family: var(--font1);
  font-weight: 700;
}

#tools {
  font-family: var(--font1);
}

#tools a:link {
  text-decoration: none;
  color: blue;
}

#tools a:visited {
  color: blue;
}

#tools a:hover {
  color: white;
  background-color: black;
}
/* -----end of header styles------ */

/* -----navigation styles------ */
nav {
  position: relative;
}

nav #nav-btn {
  padding: 15px;
}

nav ul {
  position: absolute;
  top: 50px;
  left: -160px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: fit-content;
  background-color: black;
  color: white;
  padding: 5px;
  font-family: var(--font1);
  z-index: 100;
  transition: left 1s ease
}

nav ul.open-menu {
  left: 0;
}

nav ul li {
  padding: 15px;
}

nav ul a:link {
  color: white;
  text-decoration: none;
}
nav ul a:visited {
  color: white
}
nav ul a:hover {
  color: black;
  background-color: white
}
/* -----end of navigation styles------ */

/* -----body styles----- */
.hero-container {
  display: flex;
  justify-content: center;
  position: relative;
}
.hero-car {
  width: 90%;
}

.hero-description {
  background-color: white;
  opacity: 90%;
  position: absolute;
  top: 0;
  left: 10px;
  color: #2f5b83;
  line-height: 40%;
  font-size: 14px;
}

.hero-description p {
  font-family: var(--font1);
}
.hero-button {
  border-style: outset;
  border-width: 4px;
  max-width: 120px;
  width: 80%;
}

.info-container .reviews-card ul li {
  font-family: var(--font1);
  padding: 5px;
}

.info-container .upgrades-card .upgrades-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  align-items: flex-end;
}

.info-container .upgrades-card .upgrades-images > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-container .upgrades-card .upgrades-images .img-box {
  background-color: var(--colorBlue);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.info-container .upgrades-card .upgrades-images .link-box {
  display: flex;
  justify-content: center;
}

#inv-display {
  width: 100%;
  margin: auto;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  /* border: 1px solid red; */
}

#inv-display li {
  width: 300px;
  margin: 10px;
  padding: 10px;
  background-color: #f4f1f1;
}

#inv-display li > a {
  display: block;
  text-align: center;
}

#inv-display li > div {
  text-align: center;
}

.namePrice span {
  font-family: var(--font1);
}

.inventory-detail-card {
  font-family: var(--font1);
}

.inventory-detail-card .image-box {
  text-align: center;
}
.inventory-detail-card .image-box img {
  width: 100%;
  max-width: fit-content;
  
}

.inventory-detail-card .detail-box {
  flex-grow: 1;
}

.inventory-detail-card .detail-box > div {
  padding: 5px;
}

.inventory-detail-card .detail-box > div:nth-child(even) {
  background-color: #f8f5f5;
}

.form-container {
  font-family: var(--font1);
  max-width: 400px;
  min-width: 100%;
  margin: auto;
}

.form-container h1 {
  font-family: var(--font2);
  text-align: center;
}
.form-container form {
  width: 100%;
  max-width: 400px;
  margin: auto;
  background-color: rgb(241, 241, 241);
  padding: 10px;
}

.form-container form > div {
  padding-bottom: 10px;
}

.form-container form > div input {
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  border: .5px solid gray;
}

.form-container form .form-hint {
  font-size: .7rem;
}

.form-container form input,
.form-container form textarea {
  width: 100%;
  padding: 5px;
}

#classificationList {
  width: 100%;
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  border: .5px solid gray;
}

.form-container form > div input:invalid {
  border: .5px solid red;
  background-color: rgb(241, 215, 215);
}

.form-container form > div textarea:invalid {
  border: .5px solid red;
  background-color: rgb(241, 215, 215);
}
.form-container form > div label.required:after {
  content: " *";
  color: red;
}

.form-container form .submit{
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}

.form-container form > div input[type="submit"] {
  border: 0px;
  border-radius: 50px;
  min-width: 100px;
  width: fit-content;
  /* background-color: #1677FF; */
  background-color: #113be4;
  color: white;
  cursor: pointer;
}

.form-container form > div input[type="submit"]:disabled {
  cursor: default;
  background-color: #c2c4c9;
}

.sign-up {
  text-align: center;
}

#messages ul {
  list-style: none;
  padding-left: 0;
}

.notice-success {
  color: white;
  background-color: #0db500;
}

.notice {
  color: white;
  background-color: #b50000;
}

.form-container .notice {
  color: white;
  background-color: #b50000;
}

.form-container .notice li {
  list-style: none;
}

#inventory-management ul li {
  list-style: none;
  font-family: var(--font1);
  padding-bottom: 15px;
}

#inventory-management p {
  font-family: var(--font1);
}

#inventory-management #classificationList {
  width: fit-content;
}

#inventory-management #inventoryDisplay {
  font-family: var(--font1);
  width: 400px;
}


#inventory-management #inventoryDisplay tbody tr:nth-child(odd) {
  background-color: #f5f6f8;
}

#inventory-management #inventoryDisplay tbody tr:nth-child(even) {
  background-color: white;
}

#inventory-management #inventoryDisplay td {
  padding: 10px;
}

#inventory-management #inventoryDisplay td:nth-child(2), #inventory-management #inventoryDisplay td:nth-child(3) {
  text-align: center;
}

#inventory-management #inventoryDisplay td:nth-child(2) a:link, #inventory-management #inventoryDisplay td:nth-child(3) a:link {
  color: blue;
  text-decoration: none;
}

#inventory-management #inventoryDisplay td:nth-child(2) a:visited, #inventory-management #inventoryDisplay td:nth-child(3) a:visited {
  color: blue;
  text-decoration: none;
}

#inventory-management #inventoryDisplay td:nth-child(2) a:hover, #inventory-management #inventoryDisplay td:nth-child(3) a:hover {
  text-decoration: underline;
}

#inventory-management .notice, #account-management .notice {
  color: white;
  background-color: #b50000;
}



#add-classification form > div > input:invalid {
  border: .5px solid red;
  background-color: rgb(241, 215, 215);
}

#add-classification form > div label.required:after {
  content: " *";
  color: red;
}

#account-management div {
  font-family: var(--font1);
}

#edit-account h2 {
  text-align: center;
}

#edit-account hr {
  margin: 2rem;
}

#edit-account .danger-zone {
  border: 1px solid #b50000;
  width: fit-content; 
  margin: auto;
}

#edit-account .danger-hint {
  background-color: #b50000;
  color: white;
}

#message-management table, #archive-management table {
  width: fit-content;
  margin: auto;
  font-family: var(--font1);
  font-size: .5rem;
  border-collapse: collapse;
}

#message-management table th, #archive-management table th {
  font-weight: bolder;
  text-align: start;
}

#message-management table thead, #archive-management table thead {
  border: 1px solid #ccc;
}

#message-management table tbody tr:nth-child(even), #archive-management table tbody tr:nth-child(even) {
  background-color: #c2c4c9;
}

#message-management table td, #archive-management table td {
  width: fit-content;
  padding: 10px;
}

#message-management .ellipsis, #archive-management .ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
} 

#add-message .reminder {
  width: 400px;
  margin: auto;
}

#add-message select {
  font-size: 1rem;
  width: 100%;
}

#read-message .message-box {
  background-color: #eee;
  box-shadow: 4px 4px 4px #ccc;
  padding: 10px;
}

#read-message hr {
  margin: 20px 0px;
}

#read-message .btn-box {
  text-align: center;
}

#read-message .message-box > div {
  padding: 6px;
}

#read-message .btn-link {
  display: inline-block;
  text-decoration: none;
  margin: 10px 5px;
  padding: 10px 20px;
  cursor: pointer;
}

#read-message .btn-link:not([disabled]):hover {
  text-decoration: underline;
}

#read-message .btn-link[disabled] {
  cursor: not-allowed;
}

#archive-management > div {
  margin: 10px 0px;
}
span:empty {
  display: none; /* Hide any empty spans */
}
.feedback-container {
  display: flex; /* Use flexbox for layout */
  justify-content: flex-end; /* Align items to the right */
  margin: 2y0px; /* Add margin for spacing */
}

.feedback-button {
  position: absolute;   /* Absolute positioning */
  right: 100px;         /* Distance from the right edge */
  bottom: -110px;       
  padding: 10px 20px; /* Adds space around the text */
  background-color: #113be4; /* Match the blue color */
  color: white; /* Text color */
  text-align: center; /* Center the text */
  border-radius: 50px; /* Rounded edges */
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s; /* Smooth background color transition */
}

.feedback-button:hover {
  background-color: #0db500; /* Change color on hover */
  cursor: pointer; /* Change the cursor to pointer on hover */
}

/* -----end of body styles----- */

/* -----footer styles----- */
footer p {
  font-family: var(--font1);
  text-align: center;
}
/* -----end of footer styles----- */


/* -----RWD----- */
@media screen and (min-width: 760px) {
  #inv-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .inventory-detail-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
  }

}

@media screen and (min-width: 460px) {
  nav #nav-btn {
    display: none;
  }
  nav ul {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  nav ul li {
    padding: 5px 10px;
  }

  .info-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .hero-description {
    top: 10px;
    left: 25px;
    line-height: 60%;
    font-size: 16px;
  }
  .hero-car {
    max-width: 500px;
    width: 90%;
  }

  #message-management table, #archive-management table {
    width: 90%;
    font-size: 1rem;
  }

  #message-management table th:first-child {
    width: 35%;
  }
  
  #message-management table th:nth-child(2) {
    width: 35%;
  }

  #read-message .message-box {
    width: 90%;
    margin: auto;
  }
}
