<div id="archive-management">
    <h1><%= title %></h1>

    <%- messages() %>

    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>

    <div><a href="/message">Return to Inbox</a></div>

    <div>
        <table>
            <thead>
                <tr>
                    <th class="ellipsis">Received</th>
                    <th class="ellipsis">Subject</th>
                    <th>From</th>
                    <th>Read</th>
                </tr>
            </thead>
            <tbody>
                <%- archivedMsgTable %>
            </tbody>
        </table>
    </div>
</div>